<div nz-row>
    <div nz-col nzSpan="24" style="align-items: baseline;">
        <nz-page-header>
            <nz-page-header-title>
                <span style="font-size: 25px; color: #fff">User Info</span>
            </nz-page-header-title>
            <nz-page-header-subtitle>
                <span style="color: #fff;">View and Edit All User's Info</span>
            </nz-page-header-subtitle>
            <nz-page-header-extra style="display: flex; align-items: center;">
                <nz-breadcrumb style="color: #fff;">
                    <nz-breadcrumb-item>
                        <span style="color: aqua; cursor: pointer; font-weight: bold;" (click)="back2Manage()">
                            Manage Users
                        </span>
                    </nz-breadcrumb-item>
                    <nz-breadcrumb-item>
                        <span style="color: #fff;">User Info</span>
                    </nz-breadcrumb-item>
                </nz-breadcrumb>
            </nz-page-header-extra>
        </nz-page-header>
    </div>
</div>

<nz-divider style="margin-top: 0; border-top-color: #fff;"></nz-divider>

<div nz-row style="margin-bottom: 10px;">
    <nz-card nz-col nzSpan="20" style="margin: auto; background: transparent; border: 2px solid #fff;">
        <ng-container *ngIf="userProfile?.readMode; else editProfile">
            <nz-tag nzColor="default" style="margin-bottom: 10px;">
                <i nz-icon nzType="read" nzTheme="outline"></i>
                <span>Read Mode</span>
            </nz-tag>
        </ng-container>
        <ng-template #editProfile>
            <nz-tag nzColor="processing" style="margin-bottom: 10px;">
                <i nz-icon nzType="edit" nzTheme="outline"></i>
                <span>Edit Mode</span>
            </nz-tag>
        </ng-template>

        <ng-container [formGroup]="userProfile.form">
            <!--Username & Email-->
            <div nz-col nzSpan="24" style="display: flex;">
                <div nz-col nzSpan="11">
                    <nz-form-item>
                        <nz-form-label nzFor="username" nz-col nzSpan="24">
                            Username
                        </nz-form-label>
                        <nz-form-control nzHasFeedback [nzErrorTip]="uErrorTpl">
                            <input nz-input type="text" formControlName="username" placeholder="Input Username" />
                            <ng-template #uErrorTpl let-control>
                                <ng-container *ngIf="control.hasError('required')">
                                    Please Input Your Username!
                                </ng-container>
                            </ng-template>
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div nz-col nzSpan="1"></div>
                <div nz-col nzSpan="11">
                    <nz-form-item>
                        <nz-form-label nzFor="email" nz-col nzSpan="24">
                            Email
                        </nz-form-label>
                        <nz-form-control nzHasFeedback [nzErrorTip]="eErrorTpl">
                            <input nz-input type="email" formControlName="email" placeholder="Input Email" />
                            <ng-template #eErrorTpl let-control>
                                <ng-container *ngIf="control.hasError('required')">
                                    Please Input Your Email!
                                </ng-container>
                                <ng-container *ngIf="control.hasError('email')">
                                    Please Input A Valid Email!
                                </ng-container>
                            </ng-template>
                        </nz-form-control>
                    </nz-form-item>
                </div>
            </div>
            <!--first name & last name-->
            <div nz-col nzSpan="24" style="display: flex;">
                <div nz-col nzSpan="11">
                    <nz-form-item>
                        <nz-form-label nzFor="first_name" nz-col nzSpan="24">
                            First Name
                        </nz-form-label>
                        <nz-form-control nzHasFeedback [nzErrorTip]="fnErrorTpl">
                            <input nz-input type="text" formControlName="first_name" placeholder="Input First Name" />
                            <ng-template #fnErrorTpl let-control>
                                <ng-container *ngIf="control.hasError('required')">
                                    Please Input Your First Name!
                                </ng-container>
                                <ng-container *ngIf="control.hasError('pattern')">
                                    Please Input Alphabets Only!
                                </ng-container>
                            </ng-template>
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div nz-col nzSpan="1"></div>
                <div nz-col nzSpan="11">
                    <nz-form-item>
                        <nz-form-label nzFor="last_name" nz-col nzSpan="24">
                            Last Name
                        </nz-form-label>
                        <nz-form-control nzHasFeedback [nzErrorTip]="lnErrorTpl">
                            <input nz-input type="text" formControlName="last_name" placeholder="Input Last Name" />
                            <ng-template #lnErrorTpl let-control>
                                <ng-container *ngIf="control.hasError('required')">
                                    Please Input Your Last Name!
                                </ng-container>
                                <ng-container *ngIf="control.hasError('pattern')">
                                    Please Input Alphabets Only!
                                </ng-container>
                            </ng-template>
                        </nz-form-control>
                    </nz-form-item>
                </div>
            </div>
            <!--Gender, Birthday, Phone Number & Role-->
            <div nz-col nzSpan="24" style="display: flex;">
                <div nz-col nzSpan="5">
                    <nz-form-item>
                        <nz-form-label nzFor="gender" nz-col nzSpan="24" class="white-bold">
                            Gender
                        </nz-form-label>
                        <nz-form-control nzHasFeedback [nzErrorTip]="gErrorTpl">
                            <nz-input-group>
                                <nz-select formControlName="gender" nzShowSearch nzPlaceHolder="Choose Your Gender"
                                    nzAllowClear style="width:100%; resize: none;">
                                    <nz-option nzValue="m" nzLabel="Male"></nz-option>
                                    <nz-option nzValue="f" nzLabel="Female"></nz-option>
                                    <nz-option nzValue="o" nzLabel="Other"></nz-option>
                                </nz-select>
                            </nz-input-group>
                            <ng-template #gErrorTpl let-control>
                                <ng-container *ngIf="control.hasError('required')">
                                    Please Select A Gender!
                                </ng-container>
                            </ng-template>
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div nz-col nzSpan="1"></div>
                <div nz-col nzSpan="5">
                    <nz-form-item>
                        <nz-form-label nz-col nzSpan="24" nzFor="birthday" class="white-bold">
                            Birthday
                        </nz-form-label>
                        <nz-form-control nzHasFeedback [nzErrorTip]="bErrorTpl">
                            <nz-input-group>
                                <nz-date-picker formControlName="birthday" nzPlaceHolder="Birthday"
                                    [nzFormat]="dateFormat" style="width:100%">
                                </nz-date-picker>
                            </nz-input-group>
                            <ng-template #bErrorTpl let-control>
                                <ng-container *ngIf="control.hasError('required')">
                                    Please Select a Date
                                </ng-container>
                            </ng-template>
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div nz-col nzSpan="1"></div>
                <div nz-col nzSpan="5">
                    <nz-form-item>
                        <nz-form-label nz-col nzSpan="24" nzFor="phone_number" class="white-bold">
                            Phone Number
                        </nz-form-label>
                        <nz-form-control nzHasFeedback [nzErrorTip]="pnErrorTpl">
                            <input [type]="'text'" nz-input formControlName="phone_number" prefix="(+60) "
                                mask="000000000" style="width:100%" [showMaskTyped]=true />
                            <ng-template #pnErrorTpl let-control>
                                <ng-container *ngIf="control.hasError('required')">
                                    Please Input Your Phone Number!
                                </ng-container>
                                <ng-container *ngIf="control.hasError('pattern')">
                                    Please Input A Valid Phone Number!
                                </ng-container>
                            </ng-template>
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div nz-col nzSpan="1"></div>
                <div nz-col nzSpan="5">
                    <nz-form-item>
                        <nz-form-label nzFor="role" nz-col nzSpan="24" class="white-bold">
                            Role
                        </nz-form-label>
                        <nz-form-control nzHasFeedback [nzErrorTip]="rErrorTpl">
                            <nz-input-group>
                                <nz-select formControlName="role" nzShowSearch nzPlaceHolder="Assign a Role"
                                    nzAllowClear style="width:100%; resize: none;">
                                    <nz-option nzValue="admin" nzLabel="Admin"></nz-option>
                                    <nz-option nzValue="consultor" nzLabel="Consultor"></nz-option>
                                    <nz-option nzValue="user" nzLabel="User"></nz-option>
                                </nz-select>
                            </nz-input-group>
                            <ng-template #rErrorTpl let-control>
                                <ng-container *ngIf="control.hasError('required')">
                                    Please Select A Role!
                                </ng-container>
                            </ng-template>
                        </nz-form-control>
                    </nz-form-item>
                </div>
            </div>
            <!--Address & Postcode-->
            <div nz-col nzSpan="24" style="display: flex;">
                <div nz-col nzSpan="13">
                    <nz-form-item>
                        <nz-form-label nzFor="address" nz-col nzSpan="24" class="white-bold">
                            Address
                        </nz-form-label>
                        <nz-form-control nzHasFeedback [nzErrorTip]="aErrorTpl">
                            <input nz-input formControlName="address" placeholder="Input Address" type="text" />
                            <ng-template #aErrorTpl let-control>
                                <ng-container *ngIf="control.hasError('required')">
                                    Please Input Your Address!
                                </ng-container>
                            </ng-template>
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div nz-col nzSpan="1"></div>
                <div nz-col nzSpan="9">
                    <nz-form-item>
                        <nz-form-label nzFor="postcode" nz-col nzSpan="24" class="white-bold">
                            Postcode
                        </nz-form-label>
                        <nz-form-control nzHasFeedback [nzErrorTip]="pErrorTpl">
                            <input nz-input formControlName="postcode" placeholder="Input Postcode" type="text" />
                            <ng-template #pErrorTpl let-control>
                                <ng-container *ngIf="control.hasError('required')">
                                    Please Input Your Postcode!
                                </ng-container>
                            </ng-template>
                        </nz-form-control>
                    </nz-form-item>
                </div>
            </div>
            <!--City & State-->
            <div nz-col nzSpan="24" style="display: flex;">
                <div nz-col nzSpan="11">
                    <nz-form-item>
                        <nz-form-label nzFor="city" nz-col nzSpan="24" class="white-bold">
                            City
                        </nz-form-label>
                        <nz-form-control nzHasFeedback [nzErrorTip]="cErrorTpl">
                            <input nz-input formControlName="city" placeholder="Input City" type="text" />
                            <ng-template #cErrorTpl let-control>
                                <ng-container *ngIf="control.hasError('required')">
                                    Please Input Your City!
                                </ng-container>
                            </ng-template>
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div nz-col nzSpan="1"></div>
                <div nz-col nzSpan="11">
                    <nz-form-item>
                        <nz-form-label nzFor="state" nz-col nzSpan="24" class="white-bold">
                            State
                        </nz-form-label>
                        <nz-form-control nzHasFeedback [nzErrorTip]="sErrorTpl">
                            <input nz-input formControlName="state" placeholder="Input State" type="text" />
                            <ng-template #sErrorTpl let-control>
                                <ng-container *ngIf="control.hasError('required')">
                                    Please Input Your State!
                                </ng-container>
                            </ng-template>
                        </nz-form-control>
                    </nz-form-item>
                </div>
            </div>
            <div nz-col nzSpan="24" style="float: right; margin-right: 38px;">
                <ng-container *ngIf="userProfile?.readMode; else saveProfile">
                    <button nz-button nzType="primary" (click)="changeFormState('user')">
                        <span>
                            EDIT USER INFO <i nz-icon nzType="form" nzTheme="outline"></i>
                        </span>
                    </button>
                </ng-container>
                <ng-template #saveProfile>
                    <ng-container style="display: flex; margin-right: 38px;">
                        <button nz-button nzType="text" (click)="changeFormState('user')" style="border: .5px solid #fff;">
                            <span style="color: #fff;">
                                CANCEL <i nz-icon nzType="delete" nzTheme="outline"></i>
                            </span>
                        </button>
                        <nz-divider nzType="vertical" style="border-left-color: #fff; height: 3vh;
                            margin: 0px 15px;">
                        </nz-divider>
                        <button nz-button nzType="primary" [disabled]="!userProfile.form.valid" 
                            [nzLoading]="isUpdatingUserInfo" (click)="onUpdateUserInfo()">
                                <span> 
                                    UPDATE USER INFO <i nz-icon nzType="save" nzTheme="outline"></i>
                                </span>
                        </button>
                    </ng-container>
                </ng-template>
            </div>
        </ng-container>
    </nz-card>
</div>